{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <h2>My todos:</h2>
    
    <div id="app" hx-get="/todos" hx-trigger="load" hx-swap="innerHTML">
    </div>
</body>
</html>

{{end}}

{{ block "single_element" .}}
{{ if .Done}}
    <input type="checkbox" checked hx-put="/todo/{{.Id}}">
{{ else }}
    <input type="checkbox" hx-put="/todo/{{.Id}}">
{{ end}}
<p>{{ .Desc }}</p> 
<p hx-delete="/todo/{{.Id}}" hx-target="#app">DELETE</p>
{{end}}

{{ block "todos" .}}
<form hx-post="/todo" hx-target="#list" hx-swap="beforeend">
    <label>Description: </label><input type="text" name="description">
    <button>Submit</button>
</form>

<ul id="list">
    {{range $t := .}}
    <li>            
        {{template "single_element" $t }}
    </li>
    {{end}}
</ul>
{{end}}