{{define "content"}}
<main class="container">
    <div class="starter-template text-center py-5 px-3">
        <h1>To do list</h1>
        
        {{ range .}}
        <hr>
        {{.Title}}
        {{.Date}}
        {{.IsDone}}
        {{end}}
        <hr>

        <form action="/addNew" method="POST">
            <div>
                <label for="title">Title: </label>
                <input type="text" name="title">
            </div>

            <div>
                <label for="date">date: </label>
                <input type="date" name="date">
            </div>

            <div>
                <label for="isDone">is done: </label>
                <input type="checkbox" name="isDone">
            </div>

            <div>
                <input type="submit" value="Zapisz!">
            </div>
        </form>

    </div>
</main>
{{end}}