{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   <h1>your goals</h1>

   <!-- hx-on:submit="document.querySelector('form').reset()">  -->
   <form 
    hx-post="/store" 
    hx-target="#goal-list" 
    hx-swap="beforeend" 
    hx-on:submit="this.reset()"> 
    <input type="text" name="goal">
    <button type="submit">Send</button>
   </form>

    <ul id="goal-list">
        {{ range .Goals}}
            {{template "goal" . }}
        {{end}}
    </ul>   
</body>
</html>
{{ end }}


{{ block "goal" . }}
    <li id="goal-{{.Id}}">
        <p style="text-decoration:{{ if .Done}} line-through {{else}} none {{end}}">
            {{.Name}} 
            <button hx-post="/done/{{.Id}}" hx-swap="outerHTML" hx-target="#goal-{{.Id}}">Done</button>
            <button hx-delete="/remove/{{.Id}}" hx-swap="outerHTML" hx-target="#goal-{{.Id}}" hx-confirm="Remove {{.Name}}?">Delete</button>
        </p>
    </li>
{{end}}