{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Dream places</h1>

    {{ template "all-places" . }}
</body>
</html>
{{ end }}

{{block "all-places" . }}
<div id="all-places" class="boxcontainer">
    {{range.}}
        {{template "place" .}}
    {{end}}
</div>
{{end}}

{{block "place" . }}
<!-- instead of using ID in the url, we can also attach it in the body, it'll be form encoded
hx-vals='{"id": "{{.Id}}" }' -->
<div id="place-{{.Id}}" hx-post="/favourite/{{.Id}}">
    <h3>{{.Title}}</h3>
    <img width="90%" height="90%" src="images/{{.Image.Src}}" title="{{.Image.Description}}">
</div>
{{end}}