{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Dream places</h1>

    {{ template "favourite-places" .Favourite }}
    {{ template "all-places" .AllPlaces }}
</body>
</html>
{{ end }}

{{block "favourite-places" . }}
<h1>Fav PLACES</h1>
<ul id="fav-places">    <!--class="boxcontainer" -->
    {{range.}}
        {{template "fav-place" .}}
    {{end}}
</ul>
{{end}}

{{block "all-places" . }}
<h1>ALL PLACES</h1>
<ul id="all-places">    <!--class="boxcontainer" -->
    {{range.}}
        {{template "place" .}}
    {{end}}
</ul>
{{end}}

{{block "fav-place" . }}
<li id="place-{{.Id}}" hx-post="/unfavourite/{{.Id}}" hx-swap="outerHTML">
    {{template "place-details" .}}
</li>
{{end}}

{{block "place" . }}
<li id="place-{{.Id}}" hx-post="/favourite/{{.Id}}" hx-swap="outerHTML">
    {{template "place-details" .}}
</li>
{{end}}

{{block "move-to-fav-response" . }}
<div hx-swap-oob="beforeend:#fav-places">
    {{ template "fav-place" .}}
</div>
{{end}}

{{block "move-to-unfav-response" . }}
<div hx-swap-oob="beforeend:#all-places">
    {{ template "place" .}}
</div>
{{end}}

{{block "place-details" .}}
<h3>{{.Title}}</h3>
<img width="30%" height="30%" src="images/{{.Image.Src}}" title="{{.Image.Description}}">
{{end}}